@media only screen and (min-width: 600px) {
body {
    background-image: linear-gradient(gray, lightgray);
    height:100vh;
    overflow: hidden;
}
 
.Logo img{
    width: 8%;
    height:auto;
}

.Centered {
    text-align: center;
    margin:auto;
    padding-top: 8%;
    padding-bottom: 8%;
    width: 45%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Webname {
    font-size: 500%;
    font-family: 'Blanka', sans-serif;
}

.Username {
    padding-top: 2%;
}

.Username input {
    width: 60%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 120%;
}

.Password {
    padding-top: 0.5%;
}

.Password input {
    width: 60%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 120%;
}

.Submit button {
    border-radius: 10px;
    background-color: lightgray;
    font-family: 'Blanka', sans-serif;
    font-size: 115%;
    width: 20%;
    padding-bottom: 8px;
}

.Create_account {
    padding-top: 1%;
}

.Create_account a{
    text-decoration: none;
    color: black;
    font-size: 85%;
}}

@media only screen and (max-width: 768px) {
    body {
        background-image: linear-gradient(gray, lightgray);
        height:100vh;
        overflow: hidden;
    }

    .Logo img{
        width: 20%;
        height:auto;
        padding-bottom: 10%;
    }
    
    .Centered {
        text-align: center;
        margin:auto;
        padding-top: 8%;
        padding-bottom: 8%;
        width: 80%;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .Webname {
        font-size: 500%;
        font-family: 'Blanka', sans-serif;
    }
    
    .Username {
        padding-top: 2%;
    }
    
    .Username input {
        width: 70%;
        padding: 6px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 120%;
    }
    
    .Password {
        padding-top: 0.5%;
    }
    
    .Password input {
        width: 70%;
        padding: 6px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 120%;
    }
    
    .Submit button {
        border-radius: 10px;
        background-color: lightgray;
        font-family: 'Blanka', sans-serif;
        font-size: 115%;
        width: 40%;
        padding-bottom: 1.5%;
        padding-top: 1.5%;
    }
    
    .Create_account {
        padding-top: 3%;
    }
    
    .Create_account a{
        text-decoration: none;
        color: black;
        font-size: 85%;
    }
}